<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walmart Redisign</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/images/walmart-logo.png" type="image/png" />
</head>
<body>
    <%- include('navbar') %>
    <div class="homepage">
        <p>
            Walmart Data Ventures delivers Walmart first-party consumer data to help suppliers better understand the customer and optimize omnichannel operations.
        </p>
        <p>Current Stock of Items: <%= itemCount.count %></p>
    </div>
</body>
</html>