<nav>
    <div class="navbar">
        <div class="navbar-left">
            <img src="/images/walmart-logo.png" height="40" />
            <a href="/">Walmart</a>
        </div>
        <div class="navbar-right">
            <a href="/items">All Items</a>
            <a href="/types">All Categories</a>
        </div>
    </div>
</nav>